[submodule "Vintageous"]
	path = Vintageous
	url = git://github.com/guillermooo/Vintageous.git
[submodule "Wind"]
	path = Wind
	url = git://github.com/phyllisstein/Wind.git
[submodule "ADBView"]
	path = ADBView
	url = git://github.com/quarnster/ADBView.git
[submodule "Sublime-AdvancedNewFile"]
	path = Sublime-AdvancedNewFile
	url = git://github.com/skuroda/Sublime-AdvancedNewFile.git
[submodule "CompleteSharp"]
	path = CompleteSharp
	url = git://github.com/quarnster/CompleteSharp.git
[submodule "CursorRuler"]
	path = CursorRuler
	url = git://github.com/icylace/CursorRuler.git
[submodule "editorconfig-sublime"]
	path = editorconfig-sublime
	url = git://github.com/sindresorhus/editorconfig-sublime.git
[submodule "GenerateUUID"]
	path = GenerateUUID
	url = git://github.com/SublimeText/GenerateUUID.git
[submodule "FindKeyConflicts"]
	path = FindKeyConflicts
	url = git://github.com/skuroda/FindKeyConflicts.git
[submodule "sublimetext-filehistory"]
	path = sublimetext-filehistory
	url = git://github.com/FichteFoll/sublimetext-filehistory.git
[submodule "GoSublime"]
	path = GoSublime
	url = git://github.com/DisposaBoy/GoSublime.git
[submodule "sublime-text-2-git"]
	path = sublime-text-2-git
	url = git://github.com/kemayo/sublime-text-2-git.git
[submodule "sublimetext-markdown-preview"]
	path = sublimetext-markdown-preview
	url = git://github.com/michfield/sublimetext-markdown-preview.git
[submodule "Origami"]
	path = Origami
	url = https://github.com/SublimeText/Origami.git
[submodule "Open-Include"]
	path = Open-Include
	url = git://github.com/SublimeText/Open-Include.git
[submodule "OmniMarkupPreviewer"]
	path = OmniMarkupPreviewer
	url = git://github.com/timonwong/OmniMarkupPreviewer.git
[submodule "GitGutter"]
	path = GitGutter
	url = git://github.com/jisaacks/GitGutter.git
[submodule "SublimeGoogle"]
	path = SublimeGoogle
	url = git@github.com:SjB/SublimeGoogle.git
[submodule "FuzzyFileNav"]
	path = FuzzyFileNav
	url = git://github.com/facelessuser/FuzzyFileNav.git
