[submodule "Vintageous"]
	path = Vintageous
	url = git://github.com/guillermooo/Vintageous.git
[submodule "Wind"]
	path = Wind
	url = git://github.com/phyllisstein/Wind.git
[submodule "ADBView"]
	path = ADBView
	url = git://github.com/quarnster/ADBView.git
[submodule "Sublime-AdvancedNewFile"]
	path = Sublime-AdvancedNewFile
	url = git://github.com/skuroda/Sublime-AdvancedNewFile.git
